@import "tailwindcss";

:root {
  --background: #F5F5F7;
  --foreground: #171717;

}

@theme {
  --color-primary: #9A1A1F;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #7e1418;

  --color-background: #F5F5F7;
  --color-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}